{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<p>Турфирма "BEST-TOUR" предлагает отдых за <br>
    рубежом,в России и странах СНГ по доступным ценам.<br> 
    У нас Вы найдете большой выбор путевок по всем <br>
    направлениям отдыха с вылетом из Санкт-Петербурга, <br>
    Москвы и других городов. Мы предлагаем большой<br>
    выбор экскурсионных и пляжных туров, а также<br>
    активный молодежный отдых и морские круизы.<br>
    Сотрудники нашей компании посетили более 30 стран<br>
    мира и осмотрели сотни отелей и готовы предоставить <br>
    всю необходимую информацию и ответить на все <br>
    возникающие вопросы для того, чтобы отдых оправдал <br>
    Ваши ожидания.<br>
    Приоритетами нашей компании являются:
    <ul>
        <li>гарантия надежности и качества;</li>
        <li>индивидуальный подход к клиентам;</li>
        <li>коммуникабельность и компетентность;</li>
        <li>позитивный настрой.</li>
    </ul>

    <b><em>Отдыхайте с удовольствием!</em></b></p>

{% endblock %}
