{%extends "app/layout.html"%}
{%block content%}
{% if form != None %}
<br><h2>Ответьте на несколько вопросов: </h2><br />
<div>
    <form method="post">
    {% csrf_token %}
    <label for="{{ form.name.id_for_label}}">{{form.name.label}}:</label>
    {{form.name}}<br><br> 
    <label for="{{ form.city.id_for_label}}">{{form.city.label}}:</label>
    {{form.city}}<br><br>
    <label for="{{ form.job.id_for_label}}">{{form.job.label}}:</label>
    {{form.job}}<br><br>
    <label for="{{ form.gender.id_for_label}}">{{form.gender.label}}:</label>
    {{form.gender}}<br><br>
    <label for="{{ form.poezdki.id_for_label}}">{{form.poezdki.label}}:</label>
    {{form.poezdki}}<br><br>
    <label for="{{ form.istohnik.id_for_label}}">{{form.istohnik.label}}:</label>
    {{form.istohnik}}<br><br>
    <label for="{{ form.notice.id_for_label}}">{{form.notice.label}}:</label>
    {{form.notice}}<br><br>
    <label for="{{ form.email.id_for_label}}">{{form.email.label}}:</label>
    {{form.email}}<br><br>
    <label for="{{ form.message.id_for_label}}">{{form.message.label}}:</label>
    {{form.message}}<br><br>
    <input type="submit" value="Отправить" >
        <script>
                    function field_name()   {
                    $('#id_name').css('background-color','#9eebff');
                    }
                    function field_name2()  {
                    $('#id_name').css('background-color','white');
                    }
                    function field_city()   {
                    $('#id_city').css('background-color','#9eebff');
                    }
                    function field_city2()  {
                    $('#id_city').css('background-color','white');
                    }
                    function field_job()    {
                    $('#id_job').css('background-color','#9eebff');
                    }
                    function field_job2()   {
                    $('#id_job').css('background-color','white');
                    }
                    function field_poezdki()  {
                    $('#id_poezdki').css('background-color', '#9eebff');
                    }
                    function field_poezdki2() {
                    $('#id_poezdki').css('background-color', 'white');
                    }
                    function field_istohnik()  {
                    $('#id_istohnik').css('background-color', '#9eebff');
                    }
                    function field_istohnik2() {
                    $('#id_istohnik').css('background-color', 'white');
                    }
                    function field_notice() {
                    $('#id_notice').css('background-color', '#9eebff');
                    }
                    function field_notice2()    {
                    $('#id_notice').css('background-color', 'white');
                    }
                    function field_email()  {
                    $('#id_email').css('background-color', '#9eebff');
                    }
                    function field_email2() {
                    $('#id_email').css('background-color', 'white');
                    }
                    function field_message()    {
                    $('#id_message').css('background-color','#9eebff');
                    }
                    function field_message2()   {
                    $('#id_message').css('background-color','white');
                    }

        
                    $('#id_name').focus(field_name);
                    $('#id_name').blur(field_name2);
                    $('#id_city').focus(field_city);
                    $('#id_city').blur(field_city2);
                    $('#id_job').focus(field_job);
                    $('#id_job').blur(field_job2);
                    $('#id_poezdki').focus(field_poezdki);
                    $('#id_poezdki').blur(field_poezdki2);
                    $('#id_istohnik').focus(field_istohnik);
                    $('#id_istohnik').blur(field_istohnik2);
                    $('#id_notice').focus(field_notice);
                    $('#id_notice').blur(field_notice2);
                    $('#id_email').focus(field_email);
                    $('#id_email').blur(field_email2);
                    $('#id_message').focus(field_message);
                    $('#id_message').blur(field_message2);
                </script>
    </form>
</div>
{% else %}
 <br><h2>Спасибо,что помогаете стать нам лучше!!</h2>
<h3>Ваши ответы:</h3>
<ul>
    <li><span>Имя:</span>{{data.name}}</li>
    <li><span>Город:</span>{{data.city}}</li>
    <li><span>Пол:</span>{{data.gender}}</li>
    <li><span>Работа:</span>{{data.job}}</li>
    <li><span>Путешествия:</span>{{data.poezdki}}</li>
    <li><span>Вы узнали о нас:</span>{{data.istohnik}}</li>
    <li><span>Получать новости о горящих путевках на e-mail:</span>{{data.notice}}</li>
    <li><span>Ваш e-mail:</span>{{data.email}}</li>
    <li><span>Пожелания компании:</span>{{data.message}}</li>
</ul>
{%endif%}
{%endblock%}