{% extends "app/layout.html" %}

{% block content %}

<h2>{{ title }}.</h2>
<h3>{{ message }}</h3>

<address>
   Best Tour<br />
    Россия, город Псков, улица Коммунальная, д. 48<br />
    <abbr title="Телефон"></abbr>
     601-595 ; 999-089;  55-64-61; +7-921- 703-36-99
</address>
<iframe src="https://yandex.ru/map-widget/v1/?um=constructor%3A8e7aac7ca77e902aa0215b205c905c5f83a53b8a586dddca91a222b984383678&amp;source=constructor" width="607" height="502" frameborder="0"></iframe>

<address>
    <strong>E-mail:</strong>   <a href="mailto:besttour.su@yandex.ru">besttour.su@yandex.ru</a><br />
</address>

{% endblock %}
