{%extends "app/layout.html"%}

{%block content%}
{%load staticfiles %}

<h2>{{title}}.</h2>
<br />
<p><a><img src="{%static 'app/content/logo4.png'%}" width="800px" </a></p>
<br />
<div><p><h3>Бронирование авиабилетов онлайн:</h3>
<script charset="utf-8" src="http://www.travelpayouts.com/widgets/51e3fe8f0ba3e2695b000014.js?v=671" type="text/javascript"></script>
</p>
</div>
<br />
<p><a><img src="{%static 'app/content/logo5.jpg'%}" width="400px" </a></p>
<br />
<div><p><h3>Бронирование отелей:</h3>
    <script src="//tp.media/content?promo_id=2693&amp;shmarker=22899&amp;campaign_id=84&amp;locale=ru&amp;border_radius=0&amp;plain=false&amp;powered_by=false" charset="utf-8" type="text/javascript"></script>
 </div>
<br />
<p><a><img src="{%static 'app/content/logo6.png'%}" width="800px" </a></p>
<br />
<div><p><h3>Бронирование Ж/Д билетов:</h3>
    <script src="https://c45.travelpayouts.com/content?promo_id=1655&shmarker=22899&locale=ru&border_radius=0px&full_width=true&logo=false&tborder=false&hide_header=false&powered_by=false" charset="utf-8" async="true"></script>
 </div>
{%endblock%}

